@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

$margin-width: 7.5px;
$padding-width: 15px;
$mobile-card-width: 375px;
$desktop-card-width: 1440px;
$transition-at: 675px;
$moderate-violate: hsl(263, 55%, 52%);
$dark-greyish-blue: hsl(217, 19%, 35%);
$dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$light-grey: hsl(0, 0%, 81%);
$light-greyish-blue: hsl(210, 46%, 95%);
$base-size: 13px;
@mixin flex-box {
  display: flex;
  align-items: center;
}
* {
  font: {
    size: 13px;
    family: "Barlow Semi Condensed", sans-serif;
  }
}
